.image{
  height: 300px;
  width: 500px;
}

.position{
  position: relative;
}

.text-width{
  width: 50%;
}

.top{
  position: absolute;
  top: 20px;
}

.center-vertical{
  position: absolute;
  top: 25%;
}

.bottom{
  position: absolute;
  top: 160px;
}

.left{
  position: absolute;
  left: 40px;
}

.center-horizontal{
  position: absolute;
  left: 25%;
}

.right{
  position: absolute;
  left: 240px;
}